<!-- breadcrumbs -->
<ul class="breadcrumb">
  <li>
    <%= link_to 'Home', root_path %> <span class="divider">/</span>
  </li>
  <li class="active">Biographies</li>
</ul>

<h1>Biographies</h1>

<nav class="vertical small left well">
  <ul class="nav nav-pills nav-stacked">
    <% @biographies.each do |biography| %>      
      <li>   
        <% if request.path.split('/')[2] == biography.slug %>
          <a href="/biographies/<%= biography.slug %>" class="ajax active" id="<%= biography.title %>">
            <i class="icon-circle-arrow-right icon-white"></i>
            <%= biography.title %>
          </a>
        <% else %>
          <a href="/biographies/<%= biography.slug %>" class="ajax" id="<%= biography.title %>">
            <i class="icon-circle-arrow-right icon-white"></i>
            <%= biography.title %>
          </a>
        <% end %>        
      </li>
    <% end %>
  </ul>
</nav>

<article id="biography" class="large right clearfix">
  <% if @biography.nil? %>       
    
  <% else %>
    <%= render 'show' %>
  <% end %>
</article>