<!-- breadcrumbs -->
<ul class="breadcrumb">
  <li>
    <%= link_to 'Home', root_path %> <span class="divider">/</span>
  </li>
  <li class="active">Events</li>
</ul>

<h1>Events</h1>

<% unless @events.nil? %>
  <% @events.each do |event| %>
    <article class="event clearfix">
      <header>      
      <h2><%= event.title %></h2>              
      </header>

      <% unless event.image.blank? %>
        <%= link_to(image_tag(event.image_url(:thumb).to_s, 
          :class => 'frame left'), '#') %>
      <% end %>

      <span><%= event.start_time.to_formatted_s(:long) %></span>

      <p>
        <%= event.description %>
      </p>
    </article>
  <% end %>
<% else %>
  <h2>There currently aren't any events. Please come back later.</h2>
<% end %>