<nav id="main-menu" class="horizontal">
  <ul>
    <li><%= link_to 'Home', root_path, :class => 'ajax active' %></li>
    <li><%= link_to 'Bios',  '/biographies', :class => 'ajax' %></li>
    <li><%= link_to 'Events', '/events', :class => 'ajax' %></li>
    <li><%= link_to 'Multimedia',   '/multimedia/gallery', :class => 'ajax' %></li>
    <li><%= link_to 'Contact',   '/contact', :class => 'ajax' %></li>
  </ul>
</nav>